.node {
    transition: fill ease-in 1s;
    cursor: move;
}

.label {
    user-select: none;
    pointer-events: none;
    cursor: none;
    offset: 20;
}

.image {
    transition: fill ease-in 1s;
    cursor: move;
}